<h1>GVCN: {{teacherName}}</h1>
<hr/>
<div class="row">
    <div class="col-md-6">
        <app-student-form (onStudentCreatedEventEmitter)="onStudentAdded($event)"
            (onStudentPhotoUploadedEventEmitter)="onProcessingSomething($event)"
        ></app-student-form>
    </div>
    <div class="col-md-6">
        <app-student-list [totalStudents]="totalStudents" [students]="students"
            (onStudentRemovedEventEmitter)="onStudentRemoved($event)"
            (onPageChangeEventEmitter)="onStudentPageChange($event)"
        ></app-student-list>
    </div>
</div>
<div class="divProgressSpinner" *ngIf="isProcessingSomething">
    <p-progressSpinner></p-progressSpinner>
</div>