h1 {
    text-align: left;
}

.divProgressSpinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
    text-align: center !important;
    background: rgba(0, 0, 0, 0);
}