#divStudentList {
    width: 100%;
    margin-top: 5%;
}

table {
    width:100%;
}

table thead tr {
    color:white;
    background-color:darkslateblue;
}

#studentId {
    width:15%;
    text-align:center;
}

#studentName {
    width:44%;
    text-align:left;
}

#studentGender {
    width:20%;
    text-align:left;
}

#studentPhoto {
    width:15%;
    text-align:center;
}

#studentViewDetail {
    width: 6%;
}

#studentIdContent {
    text-align:center;
    color:darkslateblue;
    vertical-align: middle;
}

#studentNameContent {
    color:darkslateblue;
    vertical-align: middle;
}

#studentGenderContent {
    color:darkslateblue;
    text-align: left;
    vertical-align: middle;
}

#studentShowPhotoContext {
    text-align: center;
    vertical-align: middle;
}

#studentViewDetailContent {
    text-align: left;
    vertical-align: bottom;
}

#imgDeleteStudent {
    width: 16px;
    height: auto;
}

#imgShowStudentPhoto {
    width: 100%;
    height: auto;
}

#imgStudentViewDetail {
    width: 100%;
    height: auto;
}

#txtStudentsFilter {
    width: 50%;
    display: inline-block;
    margin-left: 5px;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}