#divStudentList {
    width: 100%;
    height: 600px;
    overflow: scroll;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    margin-top: 5%;
}

table {
    width:100%;
}

table thead tr {
    color:white;
    background-color:darkslateblue;
}

#studentId {
    width:15%;
    text-align:center;
}

#studentName {
    width:44%;
    text-align:left;
}

#studentGender {
    width:20%;
    text-align:left;
}

#studentPhoto {
    width:15%;
    text-align:center;
}

#studentViewDetail {
    width: 6%;
}

#studentIdContent {
    text-align:center;
    color:darkslateblue;
    vertical-align: middle;
}

#studentNameContent {
    color:darkslateblue;
    vertical-align: middle;
}

#studentGenderContent {
    color:darkslateblue;
    text-align: left;
    vertical-align: middle;
}

#studentShowPhotoContext {
    text-align: center;
    vertical-align: middle;
}

#studentViewDetailContent {
    text-align: left;
    vertical-align: bottom;
}

#imgDeleteStudent {
    width: 16px;
    height: auto;
}

#imgShowStudentPhoto {
    width: 100%;
    height: auto;
}

#imgStudentViewDetail {
    width: 100%;
    height: auto;
}