label {
    font-weight: normal;
    color: #505050;
}

.student-deletion-dialog {
    height: auto;
    width: auto;
}

.student-deletion-dialog .body {
    width: auto;
    text-align: center;
}

.student-deletion-dialog .footer {
    width: auto;
    text-align: center;
}