<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a id="homeTab" [routerLink]="[{outlets: {landingRouterOutlet: ['home']}}]">Bàn Cờ</a></li>
                    <li role="presentation"><a id="classTab" [routerLink]="[{outlets: {landingRouterOutlet: ['class']}}]">Lớp 9/8</a></li>
                </ul>
            </div>
            <div class="divLogOut">
                <button class="btn btn-danger" (click)="OnSignOut()">Đăng Xuất</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <router-outlet name="landingRouterOutlet"></router-outlet>
        </div>
    </div>
</div>