/* You can add global styles to this file, and also import other style files */
div {
    color: darkslateblue;
}

ul li {
    color: darkslateblue;
}

input[type="text"] {
    color: darkslateblue;
}

input[type="text"]:focus {
    border-color: darkslateblue;
}

input[type="text"]:hover {
    border-color: darkslateblue;
}

select:focus {
    border-color: darkslateblue;
}

select:hover {
    border-color: darkslateblue;
}

button[type="button"] {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

button[type="button"]:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-primary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-primary:focus {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-primary:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#homeTab {
    color: white;
    background-color: darkslateblue;
    font-weight: bold;
}

#classTab {
    color: white;
    background-color: sandybrown;
    font-weight: bold;
}